{
  "ProductServiceFn": {
    "CHARGIFY_API_KEY": "{YOUR_CHARGIFY_API_KEY}",
    "CHARGIFY_API_SUBDOMAIN": "everydayspeech-test"
  },
  "SubscriptionServiceFn": {
    "CHARGIFY_API_KEY": "{YOUR_CHARGIFY_API_KEY}",
    "CHARGIFY_API_SUBDOMAIN": "everydayspeech-test",
    "USER_SERVICE_BASE_URL": "https://staging-user-service.everydayspeech.com"
  }
}